# Build results
bin/
obj/
publish/

# macOS app bundle
*.app/

# IDE
.vs/
.vscode/
*.user
*.suo

# Rider
.idea/

# NuGet
*.nupkg

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
.claude

node_modules
dist
tsconfig.tsbuildinfo
dist-electron
dist-release

# Playwright
playwright-report/
test-results/